<div class="container">
  <h2>Car's Post</h2>
</div>

<div class="container">
  <div class="d-flex flex-row">
    <div class="card-body card col-3 m-2">
      <h5 class="card-title">{{carId.model}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{carId.class}}</h6>
      <p class="card-text">Brand: {{carId.make}}</p>
      <p class="card-text">Fuel type: {{carId.fuel_type}}</p>
      <p class="card-text">Miles per gallon in the city:
        {{carId.city_mpg}}, in Highway:
        {{carId.combination_mpg}}</p>
      <p class="card-text">Cylinders: {{carId.cylinders}}</p>
      <p class="card-text">Transmission: {{carId.transmission}}</p>
      <p class="card-text">Year of making: {{carId.year}}</p>
    </div>
    <div class="card-body card col-3 m-2">
      <img src={{author.profileImg}} alt="profile image" width="75px">
      <h6 class="card-title">User: {{author.username}}</h6>
      <h6 class="card-subtitle mb-2">Contact e-mail: {{author.email}}</h6>
      <h5 class="card-title mt-4">Title: {{title}}</h5>
      <h6 class="card-subtitle mb-2">Description: {{description}}</h6>
      <p class="card-text">Time of creation: {{createdAt}}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex flex-column ">
    {{#each comments}}
    <div class="p-2">
        <img src={{user.profileImg}} alt="profile image" width="75px">
    <h6 class="card-subtitle mb-2">Comment author: {{user.username}}</h6>
    <p>{{comment}}</p>
    </div>
    {{/each}}
  </div>
</div>


<div class="container d-flex">
<form action="/comment" method="post">

  <label for="" >Comment</label>
  <input type="text" name="comment" placeholder="What's your comment?" id="">

  <input type="hidden" name="post" value="{{_id}}">
  {{!-- <input type="text" name="user" value="{{author.username}}"> --}}

  <button type="submit">New Comment</button>
</form>
</div>

<div class="container pb-4">
  <a class="btn btn-dark btn-block mt-2 mx-2" href="/post/view-all-posts">Ir a todos los posts</a>
  <a class="btn btn-dark btn-block mt-2 mx-2" href="/post/edit-post/{{id}}">Edit post</a>
  <form action="/post/view-post/delete/{{_id}}" method="POST">
    <button class="btn btn-dark btn-block mt-2 mx-2" type="submit">Delete this post</button>
  </form>
  <a class="btn btn-dark btn-block mt-2 mx-2" href="/post/view-all-posts">See all the posts</a>
</div>

<footer class="bg-light text-center text-lg-start pt-5">
  <div class="text-center p-3 bg-dark text-white-50" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: Guzmán Ponce de León and David Pardo
  </div>
</footer>